---
//@ts-nocheck
// tjekker ikke for notescript fejl så
import "../styles/style.css";
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
import Menu from "../components/Menu.astro";
import Praktisk from "../components/Praktisk.astro";
import EventsPreview from "../components/EventsPreview.astro";

const url = "https://hwbsearhqsaulwrckpsy.supabase.co/rest/v1/events?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3YnNlYXJocXNhdWx3cmNrcHN5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjcxODAsImV4cCI6MjA1OTg0MzE4MH0.jLeXXi5Q43rPmHHpGYTqtm9b5RT_yFSc4X4RZSs012I";

// så den kan læse nøglen
const options = {
  headers: {
    apikey: key,
  },
};

// console log kan kun læses i terminalen (du skal 'run nmp dev' først)
const data = await fetch(url, options).then((res) => res.json());
console.log(data);
---

<Layout title="Circular Lab">
  <header>
    <Menu />
  </header>
  <main>
    <section>
      <p class="sti">
        Forside / Studieliv og Faciliteter / Labs / Cirkular Labs / Cirkular Lab
      </p>
      <h1>Circular Lab</h1>
      <h3>
        Circular Lab er et community lab med fokus på cirkulære
        forretningsmodeller, strategier og design. Circular Lab er for KEAs
        studerende, undervisere og medlemmer af samarbejdende institutioner.
        Circular Lab samarbejder på tværs af de andre labs på KEA.
      </h3>
      <p>
        Circular Lab er et multifunktionelt rum, der indbyder til at udforske og
        undersøge nye cirkulære forretningsmodeller og hvordan vi designer
        cirkulære produkter. Gennem workshops, foredrag, community caféer og
        virksomhedsbesøg åbner vi op for mulighederne der følger med den
        cirkulære omstilling og hvordan man kan udforske dem igennem praksis og
        teori. Lab’et bruges til undervisning, workshops, arrangementer,
        udstillinger og eksperimenter. Følg med i kalenderen for at se de
        kommende events og happenings.
      </p>
    </section>
    <Praktisk h2_box="Praktisk" />
    <EventsPreview />
    <!-- {data.map((event) => <EventCard {event} />)} -->
  </main>
</Layout>

<style>
  h1,
  h3,
  p {
    margin-bottom: 20px;
  }
</style>
