---
import map from "../assets/map.png";
---

<section class="margin_mobil">
  <img src={map.src} alt="plantegning af 1. sal på Kea Guldbergsgade" />
  <h1>Adresse</h1>
  <p>
    Cirkular Lab holder til på Guldbergsgade 29N, 2200 KBH N, på første sal i <b
      >lokale A129</b
    >. Du finder indgangen igennem biblioteket
  </p>
</section>

<style>
  section {
    background-color: var(--baige);
    padding: 25px;
    margin-bottom: 70px;
    max-width: 320px;
  }
  img,
  h1 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 50px;
  }
</style>
